@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-neche: #ffd700;
    /* --color-brand-primary */
}
.neche  {
    background-color: #ffd700;

}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
